{
    "printWidth": 190,
    "tabWidth": 4,
    "singleQuote": false,
    "explicitTypes": "always",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 140,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": true,
                "explicitTypes": "always"
            }
        }
    ]
}
